body{
    font-size: 40px;
 
}  
table, td, th{
    border: solid 3px black;
    border-collapse: collapse;
}
th{
    background-color: rgb(18, 133, 18);
    color: white;

}
.domingo{
    background-color: rgb(101, 248, 114);
    color: white;
}

.sabado{
    background-color: rgb(101, 248, 114);
    color: white;
}

.legenda2{
    background-color: palegreen;
    font-size: 20px;
    color:black;
}
.legenda1{
    background-color:lightblue;
    font-size: 20px;
    color: black;
}
.legenda3{
    background-color:lightpink;
    font-size: 20px;
    color: black;
 
}
.legenda4{
    background-color: slateblue;
    font-size: 20px;
    color: black;
}
h6{
    text-align: left;
}
td{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

